body
    {
        margin: 0;
    }

header
    {
        width: 100%;
        background: #4A94AB;
    }

.menu ul
    {
        margin: 0;
        list-style: none;
        padding: 0;
        display: flex;
    }

.menu li
    {
        text-align: center;
        flex-grow: 1;
        display: block;
        padding: 15px 20px;
        color: #fff;
        text-decoration: none;
    }

.menu li:hover
    {
        cursor: pointer;
        background: rgba(0, 0, 0, 0.3);
    }

.menu li ul
    {
        display: none;
        position: absolute;
        min-width:140px;
    }

.menu li:hover > ul
    {
        margin: 0;
        list-style: none;
        padding: 0;
        display: block;
    }

.menu li ul li
    {
        position: relative;
        text-align: center;
        flex-grow: 1;
        display: block;
        padding: 15px 20px;
        color: #fff;
        text-decoration: none;
        background: #4A94AB;
    }

.menu li ul li ul
    {
        right: -140px;
        top: 0px;
    }