.pelicula
    {
        color: #555;
        width: 150px;
        height: 280px;
        margin: 5px !important;
        float: left;
        position: relative;
    }

.poster
    {
        width: 150px;
    }

.poster img
    {
        width: 150px;
        height: 230px;
    }

.poster h3
    {
        text-align: center;
        padding:7px 0;
        font-size: 10px;
    }

#contenido
    {
        width:640px;
        margin:10px;
        text-align: center;
    }