.pelicula
    {
        width: 400;
        height: 800;
        flex-direction: row;
        align-items: center;
        margin: 20px;
    }

.pelicula img
    {
        display: flex;
    }

.pelicula label
    {
        display: flex;
    }