.pelicula
    {
        width: 250px;
        height: 467px;
        margin: 10px !important;
        float: left;
        position: relative;
    }

.poster
    {
        width: 250px;
    }

.poster img
    {
        width: 250px;
        height: 384px;
    }

.poster h2
    {
        text-align: center;
        padding:7px 0;
        font-size: 20px;
    }

#contenido
    {
        width:1080px;
        margin:10px;
    }

.clear
    {
        clear: both;
    }

.botones
    {
        clear: both;
        font-weight: 700;
        font-size: 30px;
        line-height: 50px;
    }

.wp-pagenavi a, .wp-pagenavi span {text-decoration: none;margin: 2px;text-shadow: 0 1px 0 #000;height: 2.95em;padding: 13px;background: #313131 url(images/on-sbg.png);}
.wp-pagenavi a:hover, .wp-pagenavi span.current {box-shadow: 0 0 5px rgba(0,0,0,0.8);}
.wp-pagenavi span.current {font-weight: 700;}

@media (max-width: 500px)
    {
        .pelicula
            {
                width: 90%;
                text-align: center;
                margin-left: 6%;
                margin-right: 5%;
            }

        .poster
            {
                width: 90%;
                text-align: center;
                margin-left: 6%;
                margin-right: 5%;
            }

        .poster img
            {
                width: 90%;
                text-align: center;
                margin-left: 6%;
                margin-right: 5%;
            }

        .poster h2
            {
                text-align: center;
                margin-left: 6%;
                margin-right: 5%;
                font-size: 20px;
            }

        #contenido
            {
                width: 90%;
                margin-left: 6%;
                margin-right: 5%;
                text-align: center;
            }
    }